<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Dogtor AI - Dog bark detector, and dog bark synthesizer.</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>

  

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.6.1/d3.min.js" integrity="sha512-MefNfAGJ/pEy89xLOFs3V6pYPs6AmUhXJrRlydI/9wZuGrqxmrdQ80zKHUcyadAcpH67teDZcBeS6oMJLPtTqw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datasource@0.1.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js" integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.2.1/chartjs-plugin-zoom.min.js" integrity="sha512-klQv6lz2YR+MecyFYMFRuU2eAl8IPRo6zHnsc9n142TJuJHS8CG0ix4Oq9na9ceeg1u5EkBfZsFcV3U7J51iew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <style type="text/css">
  body {
    height: 100%;
  }
  
  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }

  div.hidden
{
   display: none
}
.head1 { 
height: 125px;
float: left;
  background: #adb9ff;
  color: white;
  font-size: 30px;
}
.head2 { 
height: 125px;

  background: #adb9ff;
  color: white;
  font-size: 30px;
}


  </style>

<script>
console.clear();

// UPDATE: there is a problem in chrome with starting audio context
//  before a user gesture. This fixes it.
var started = null;
window.addEventListener('click', () => {
  if (started) return;
  started = true;
  
  initialize();
});


function initialize() {
  document.body.querySelector('h2').remove();
  $("div#extraControls").removeClass("hidden");
  const bufferHeight = 96;
  const bufferLength = 77;
  const lengthMultiplier = 3; //multiplier for pixels of MEL spectogram aka how wide it is


  const dog_CVS = document.getElementById("dog_detected");
  const dog_CTX = dog_CVS.getContext('2d');
  const dog_W = dog_CVS.width = window.innerWidth;
  const dog_H = dog_CVS.height = window.innerHeight * .013;
  dog_CTX.fillStyle = 'hsl(180, 100%, 10%)';
  dog_CTX.fillRect(0, 0, dog_W, dog_H);

  const dog_x = dog_W - bufferLength* lengthMultiplier
  var dog_hue;

  //draws rectangle if dog bark is heard
  function woof_indicator(DATA) { 
    let imgData = dog_CTX.getImageData(bufferLength * lengthMultiplier, 0, dog_W - bufferLength * lengthMultiplier, dog_H)
    dog_CTX.putImageData(imgData, 0, 0); 
    if (DATA == 1) {
      dog_hue = 000;
    } else {
      dog_hue = 200;
    }
    //console.log("[HUE]" + dog_hue +  " " + DATA )
    dog_CTX.fillStyle =`hsl(${dog_hue}, 100%, 50%)`;
    dog_CTX.fillRect(dog_x, 0, lengthMultiplier * bufferLength, dog_H);
    dog_CTX.stroke();
    }


  //Canvas FFT in time domain initialization
  //const CVS = document.body.querySelector('canvas');
  const CVS = document.getElementById("canvas_mel");
  const CTX = CVS.getContext('2d');
  const W = CVS.width = window.innerWidth;
  const H = CVS.height = window.innerHeight * .25;
  const h = H / bufferHeight;
  const x = W - 1;
  const x_1 = W - 1 * lengthMultiplier;
  CTX.fillStyle = 'hsl(280, 100%, 10%)';
  CTX.fillRect(0, 0, W, H);

  function draw_fft(DATA) {   
      let imgData = CTX.getImageData(lengthMultiplier , 0, W - 1* lengthMultiplier, H);
      //console.log("[DATA]", DATA)
      const LEN = DATA.length;
      CTX.putImageData(imgData, 0, 0);       
      for (let i = 0; i < LEN; i++) {
        let rat = DATA[i] ;
        let hue = Math.round(rat * 120 + 280 % 360);
        let sat = '100%';
        let lit = 10 + 70 * rat + '%';
        CTX.beginPath();
        CTX.fillStyle =`hsl(${hue}, ${sat}, ${lit})`;
        CTX.fillRect(x_1, H - i * h, lengthMultiplier, h);
        CTX.stroke();
        
      }

    }



  $(document).ready(function(){
    //connect to the socket server.
    var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
    var numbers_received = [];
    //receive details from server
    socket.on('newnumber', function(chunk) {
        var data = JSON.parse(chunk.number);
        //console.log('[DATA]' + data)
        var dog_detec = chunk.woof;
        //console.log(dog_detec);
        woof_indicator(dog_detec);
        for ( var i = 0; i < bufferLength; i++) {
          draw_fft(data[i]);
        };

        //maintain a list of Dog activated barks
        // if (numbers_received.length >= 10){
        //     numbers_received.shift()
        // }
        // numbers_received.push(chunk.number);
        // numbers_string = '';
        // for (var i = 0; i < numbers_received.length; i++){
        //     numbers_string = numbers_string + '<p>' + numbers_received[i].toString() + '</p>';
        // }
        // $('#log').html(numbers_string);
    });
  });


  //time graph
  const chartData = "/dog_bark.csv"
  // parse the file from csv to jason
  d3.csv(chartData).then(function(datapoints) {
    console.log(datapoints);
    var timestamps = [];
    const dog_barks = [];
    
    for (i = 0; i < datapoints.length; i++) {
      timestamps.push(datapoints[i].Time)
      dog_barks.push(datapoints[i].Dog_bark)
    }
    console.log(dog_barks)

    const timestamps_second = timestamps.map(function(x) {return x*1000})
    console.log(timestamps_second)
    const ctx = document.getElementById('myChart');
    const myChart = new Chart(ctx, {
        type: 'scatter',
        data: {
            labels: timestamps_second,
            datasets: [{
                label: 'Dog Bark Activation',
                data: dog_barks,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
              x: {
                type: 'time',
                time: {
                    //unit: 'second',
                    minUnit: 'second',
                    autoSkip: true,
                    //autoSkipPadding: 50,
                    stepSize: 1,
                    displayFormats: {'second': 'MMM dd hh:mm'}
                  }
                },
                y: {
                    display: false,
                    ticks: {
                        max: 1.1,
                        min: 0.9,
                        stepSize: 1
                    }
                }
            },
            plugins: {
                zoom: {
                    zoom: {
                        wheel: {
                            enabled: true,
                    },
                    pinch: {
                        enabled: true
                    },
                    mode: 'x',
                    },
                    pan: {
                        enabled: true,
                        mode: 'x'
                    }

                }    
            }
        }
    });

  });


}

$(document).on('submit','#dog-bark-form',function(e)
              {
  console.log('submit dog bar');
  e.preventDefault();
  $.ajax({
    type:'POST',
    url:'/play_bark_sound',
    data: $(this).serialize(),
    sucess:function() { alert('saved')
    }
  })
              })
</script>


</head>
<body>
<!-- partial:index.partial.html -->
<h2>Click to start</h2>

<div class="header">
  <div class="head1">
    <p>AUTONOMOUS DOG DETECTION AND BARKING DASHBOARD</p>
  </div> 
  <div class="head2"> 
    <img src="/static/Dogtor_ai_logo.png" width="256" height="115" alt="dogtor_ai" class="floatRightIcon">
  </div>

</div>



<div id="extraControls" class="hidden">
  <div>
  <p>Live MEL spectrogram view from machine running the analysis.
  Server analyses data in 1second intervals and pushes data to preview here.
  Each frame appears discontinus due to normalization done on each analyis frame [ fraction Seconds of Previous + Current Frame ]</p>
</div>
</h2>
<!-- partial -->
<canvas id="canvas_mel" >canvas_mel</canvas>
<canvas id="dog_detected">dog_detected</canvas> 
<p>Dog Activation bar</p>

<div class="container" id="content">

    <div>
      <canvas id="myChart" style="width:100%;height:150px">Chart of Dor Barks Heard</canvas>
    </div>

    <div class="row">
      <p></p>
      <h3>Latest Dog Bark Generator:</h3>
      <div id="log"> </div> <!-- /#log -->
  </div>
  <div id="dog_bark_input">
    <form action="/play_bark_sound" id="dog-bark-form" method="POST">
      <p> 10 numbers from -1 to 1 to generate a bark sound. Press Submit to play</p>
      <label for="fname">1:</label>
      <input type="text" id="1" name="1"><br>
      <label for="fname">2:</label>
      <input type="text" id="2" name="2">  <br>   
      <label for="fname">3:</label>
      <input type="text" id="3" name="3">   <br>   
      <label for="fname">4:</label>
      <input type="text" id="4" name="4"> <br>     
      <label for="fname">5:</label>
      <input type="text" id="5" name="5">  <br>    
      <label for="fname">6:</label>
      <input type="text" id="6" name="6"> <br>     
      <label for="fname">7:</label>
      <input type="text" id="7" name="7"> <br>     
      <label for="fname">8:</label>
      <input type="text" id="8" name="8"><br>
      <label for="fname">9:</label>
      <input type="text" id="9" name="9"><br>
      <label for="fname">10:</label>
      <input type="text" id="10" name="10"><br>

      <input type="Submit" value="Submit" class = "file_submit">
    </form>
    </div>
</div>
</body>
</html>
