<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Web Audio Visualizer 01: Spectrogram</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
  <style type="text/css">html, 
  body {
    height: 100%;
  }

  
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }
  </style>

<script>
console.clear();

// UPDATE: there is a problem in chrome with starting audio context
//  before a user gesture. This fixes it.
var started = null;
window.addEventListener('click', () => {
  if (started) return;
  started = true;
  
  initialize();
});


function initialize() {
  document.body.querySelector('h1').remove();
  const bufferHeight = 96;
  const bufferLength = 77;
  const lengthMultiplier = 3; //multiplier for pixels of MEL spectogram aka how wide it is


  const dog_CVS = document.getElementById("dog_detected");
  const dog_CTX = dog_CVS.getContext('2d');
  const dog_W = dog_CVS.width = window.innerWidth;
  const dog_H = dog_CVS.height = window.innerHeight * .013;
  dog_CTX.fillStyle = 'hsl(180, 100%, 10%)';
  dog_CTX.fillRect(0, 0, dog_W, dog_H);

  const dog_x = dog_W - bufferLength* lengthMultiplier
  var dog_hue;

  //draws rectangle if dog bark is heard
  function woof_indicator(DATA) { 
    let imgData = dog_CTX.getImageData(bufferLength * lengthMultiplier, 0, dog_W - bufferLength * lengthMultiplier, dog_H)
    dog_CTX.putImageData(imgData, 0, 0); 
    if (DATA == 1) {
      dog_hue = 000;
    } else {
      dog_hue = 200;
    }
    console.log("[HUE]" + dog_hue +  " " + DATA )
    dog_CTX.fillStyle =`hsl(${dog_hue}, 100%, 50%)`;
    dog_CTX.fillRect(dog_x, 0, lengthMultiplier * bufferLength, dog_H);
    dog_CTX.stroke();
    }


  //Canvas FFT in time domain initialization
  //const CVS = document.body.querySelector('canvas');
  const CVS = document.getElementById("canvas_mel");
  const CTX = CVS.getContext('2d');
  const W = CVS.width = window.innerWidth;
  const H = CVS.height = window.innerHeight * .25;
  const h = H / bufferHeight;
  const x = W - 1;
  const x_1 = W - 1 * lengthMultiplier;
  CTX.fillStyle = 'hsl(280, 100%, 10%)';
  CTX.fillRect(0, 0, W, H);

  function draw_fft(DATA) {   
      let imgData = CTX.getImageData(lengthMultiplier , 0, W - 1* lengthMultiplier, H);
      // console.log("[DATA]", DATA)
      const LEN = DATA.length;
      //CTX.fillRect(0, 0, W, H);
      CTX.putImageData(imgData, 0, 0);       
      for (let i = 0; i < LEN; i++) {
        let rat = DATA[i] ;
        let hue = Math.round(rat * 120 + 280 % 360);
        let sat = '100%';
        let lit = 10 + 70 * rat + '%';
        CTX.beginPath();
        CTX.fillStyle =`hsl(${hue}, ${sat}, ${lit})`;
        //CTX.strokeStyle = `hsl(${hue}, ${sat}, ${lit})`;
        CTX.fillRect(x_1, H - i * h, lengthMultiplier, h);
        //CTX.moveTo(x, H - i * h);
        //CTX.lineTo(x_1, H - (i * h + h));
        CTX.stroke();
        
      }

    }



  $(document).ready(function(){
    //connect to the socket server.
    var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
    var numbers_received = [];
    //receive details from server
    socket.on('newnumber', function(chunk) {
        var data = JSON.parse(chunk.number);

        var dog_detec = chunk.woof;
        console.log(dog_detec);
        woof_indicator(dog_detec);
        for ( var i = 0; i < bufferLength; i++) {
          draw_fft(data[i]);
        };

        //maintain a list of ten numbers
        // if (numbers_received.length >= 10){
        //     numbers_received.shift()
        // }
        // numbers_received.push(chunk.number);
        // numbers_string = '';
        // for (var i = 0; i < numbers_received.length; i++){
        //     numbers_string = numbers_string + '<p>' + numbers_received[i].toString() + '</p>';
        // }
        // $('#log').html(numbers_string);
    });
  });


}



</script>
</head>
<body>
<!-- partial:index.partial.html -->
<h1>Click to start</h1>

<h2>
<div>
  <h3>DoGtor AI</h3>
  <p>Live MEL spectrogram view from machine running the analysis.</p>
  <p>Server analyses data in 1second intervals and pushes data to preview here</p>
  <p>Each frame appears discontinus due to normalization done on each analyis frame [ fraction Seconds of Previous + Current Frame ]</p>
</div>
</h2>
<!-- partial -->
<canvas id="canvas_mel" >canvas_mel</canvas>
<canvas id="dog_detected">dog_detected</canvas> 
<p>Red bar at the bottom means a dog was heard</p>
<h2>
<div class="container" id="content">
    <div class="row">

        <p></p>
        <h3>Number list:</h3>
        <div id="log"> </div> <!-- /#log -->
    </div>
</h2>



</body>
</html>
